<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Wiki with Allure TestNG Suite" verbose="5" thread-count="1" configfailurepolicy="continue">
    <listeners>
        <listener class-name="com.monster.wiki.base.TestNgListener"></listener>
    </listeners>
    <test name="TestAll">
        <packages>
            <package name="runners"/>
        </packages>
    </test>
</suite>